.filter-buttons {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.filter-button {
  background-color:rgb(255, 255, 255);
  color: #555;
  border: solid 1px #DEDBDB;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.8em;
  transition: background-color 0.3s, color 0.3s;
}

.filter-button.active,
.filter-button:hover {
  background-color: var(--naranja);
  color: white;
}

/* Responsive adjustments */
@media (max-width: 480px) {
  .filter-buttons {
    flex-direction: column;
  }
}
